.card-body{
    overflow-x: scroll !important;
}
.font-11{
    font-size: 1.1rem !important;
}
.font-12{
    font-size: 1.2rem !important;
}
.font-13{
    font-size: 1.3rem !important;
}
.font-14{
    font-size: 1.4rem !important;
}
.font-15{
    font-size: 1.5rem !important;
}
.font-16{
    font-size: 1.6rem !important;
}
#cke_editor{
    width: 92% !important;
}
#cke_23{
    display: none !important;
}
#cke_25{
    display: none !important;
}
#cke_27{
    display: none !important;
}
#cke_48{
    display: none !important;
}